@model UserSignInViewModel

@{
    ViewData["Title"] = "Giris yap";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="text-center mt-2 mb-5 border border-2 rounded">
    <div>
        <div>
            <h1 class="logo-name mt-5">IN+</h1>
        </div>
        <div class="mt-5">
            <h3>Blogumuza Hosgeldiniz</h3>
        </div>
        <p>
            Blogumuzda bulunan yuzlerce bloga erismek icin giris yapiniz.
            <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
        </p>
        <div class="border border-5 w-50 m-auto">
        <div class="mt-5">
            <h4>Giris yap</h4>
        </div>
        <form class="mt-5" method="post">
            <div class="form-group">
                <input type="text" class="form-control w-50 m-auto" asp-for="@Model.UserName" placeholder="Kullanici adi" required="">
            </div>
            <div class="form-group mt-4">
                <input type="password" class="form-control w-50 m-auto" asp-for="@Model.Password" placeholder="Sifre" required="">
            </div>
            <button type="submit" class="btn btn-primary block full-width mt-5 mb-5">Login</button>

            <p class="text-muted text-center mt-5"><small>Hesabiniz var mi?</small></p>

            <a class="btn btn-sm btn-white btn-block mt-5" href="/RegisterUser/Index/">Kayit ol</a>
        </form>
        </div>
        <p class="mb-5"> <small>Asp.Net Core Proje; @DateTime.UtcNow</small> </p>
    </div>
</div>