@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="col-lg-3">
    <div class="ibox ">
        <div class="ibox-content mailbox-content">
            <div class="file-manager">
                <h3>

                    Mesaj kutusu
                </h3>
                <div class="space-25"></div>
                <h5>Klasorler</h5>
                <ul class="folder-list m-b-md" style="padding: 0">
                    <li><a href="/Admin/AdminMessage/InBox"> <i class="fa fa-inbox "></i> Gelen kutusu <span class="label label-warning float-right">16</span> </a></li>
                    <li><a href="/Admin/AdminMessage/SendBox"> <i class="fa fa-envelope-o"></i> Giden kutusu</a></li>
                    <li><a href="/Admin/AdminMessage/SendMessage"> <i class="fa fa-certificate"></i> Mesaj Gonder</a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-file-text-o"></i> Taslak <span class="label label-danger float-right">2</span></a></li>
                    <li><a href="mailbox.html"> <i class="fa fa-trash-o"></i> Cop kutusu</a></li>
                </ul>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>