@{
    ViewData["Title"] = "SendMessage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

    <div class="row">
        @await Html.PartialAsync("~/Areas/Admin/Views/AdminMessage/MessageAreaLeftBar.cshtml")

        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header">
                <div class="float-right tooltip-demo">
                    <a href="mailbox.html" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to draft folder"><i class="fa fa-pencil"></i> Draft</a>
                    <a href="mailbox.html" class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="Discard email"><i class="fa fa-times"></i> Discard</a>
                </div>
                <h2>
                    Compse mail
                </h2>
            </div>
            <div class="mail-box">


                <div class="mail-body">

                    <form method="post">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Kime:</label>

                            <div class="col-sm-10"><input type="text" name="ReceiverMail" class="form-control" value=""></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">Konu:</label>

                            <div class="col-sm-10"><input type="text" name="Subject" class="form-control" value=""></div>
                        </div>

                        <div>
                            <div class="col-sm-10">
                                <label class="col-sm-2 col-form-label">Mesaj:</label>

                                <textarea type="text" rows="6" name="Message" class="form-control" value=""></textarea>
                            </div>
                            <div class="mail-body text-right tooltip-demo">
                                <button href="/Admin/AdminMessage/SendMessage" type="submit" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Send"><i class="fa fa-reply"></i> Mesaj gonder</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="clearfix"></div>



            </div>
        </div>
    </div>
